h2 {
    text-align: center;
}

button {
    margin-top: 2ch;
}

fieldset {
    padding-top: 1ch;
    padding-bottom: 1ch;
}

textarea {
    resize: none;
}

div {
    padding: 0.2rem;
}

div#maps {
    margin-right: 0.5em;
}

div#head {
    padding-top: 0%;
    margin: 0%;
    height: 3rem;
}

nav {
    position: sticky;
    top: 0;
    height: 4rem;
    margin: 0%;
    padding: 0%;
    background: #233329;
}

img {
    cursor: pointer;
}

legend {
    color: #63A46C;
}

.center {
    align-items: center;
    justify-content: center;
}

p#tittle {
    font-size: x-large;
    text-align: center;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #6A7152;
}

div .form-check {
    margin-left: 75%;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
}

button:hover {
    background-color: #69FFF1;
    box-shadow: 0px 15px 20px #66beb6;
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}