<nav class="navbar navbar-dark animated fadeInRight" style="z-index:999">
    <div class="container-fluid center" id="head">

        <p style="color: aliceblue;" id="tittle"><br> SU PEDIDO DE "LO QUE SEA"</p>

    </div>
</nav>
<!-- <h2 class="m-5">PEDIDO</h2>
<hr>

<h4 class="m-5">Ingrese los datos necesarios para el pedido</h4> -->
<div class="container animated fadeInLeftBig fast">
    <form class="m-5" (ngSubmit)="submit(f)" #f="ngForm" autocomplete="off" ngNativeValidate>
        <fieldset class="form-group container">
            <legend>Datos del pedido</legend>
            <div class="row">
                <div class="form-floating col-md-12">
                    <input type="text" class="form-control" required placeholder="El cadete debe saber que quieres pedir" id="floatingTextarea2" [ngClass]="{'is-invalid' : (descripcionPed.invalid && descripcionPed.touched)}" ngModel name="descripcionPed" #descripcionPed="ngModel">
                    <div id="validationServer03Feedback" class="invalid-feedback">
                        Revise la descripción para el pedido.
                    </div>
                    <label for="floatingTextarea2">Descripción<span class="text-danger"> *</span></label>
                </div>
                <div class="">
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
                <div class="col-md-6">
                    <div class="row center">
                        <div class="form-check form-check-inline center">
                            <input class="form-check-input" required type="radio" name="inlineRadioOptions" id="radio3" value="option1" (click)="cambiarEstadoR3()">
                            <label class="form-check-label" for="inlineRadio1">Lo antes posible</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row center">
                        <div class="form-check form-check-inline center">
                            <input class="form-check-input" required type="radio" name="inlineRadioOptions" id="radio1" value="option1" (click)="cambiarEstadoR4()">
                            <label class="form-check-label" for="inlineRadio1">Fecha/Hora Programada</label>
                        </div>
                        <div class="col-md-9">
                            <input *ngIf="radioMarcado4" class="form-control form-control animated fadeInDown" required id="formDate" type="date" min="2022-04-27">
                        </div>
                        <div class="col-md-3">
                            <input *ngIf="radioMarcado4" class="form-control form-control animated fadeInDown" required id="formDate" type="time">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group container ">
            <legend>Dirección de comercio</legend>
            <div class="row">
                <div class="row col-md-8" id="maps">
                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" pattern="[a-zA-Z0-9áéíóú. ]*" minlength="4" required id="floatingInput" placeholder="Leave a comment here" [ngModel]="domicilio" [ngClass]="{'is-invalid' : direccionCom.invalid && direccionCom.touched}" ngModel
                            name="direccionCom" #direccionCom="ngModel">
                        <div id="validationServer03Feedback" class="invalid-feedback">
                            Revise la dirección de comercio.
                        </div>
                        <label for="floatingInput">Dirección<span class="text-danger"> *</span></label>
                    </div>
                    <div class="form-floating col-md-12">
                        <select class="form-select" id="floatingSelect" required aria-label="Floating label select example" (change)="cambiarCiudad(s.value)" #s>
                        <option value="1">Córdoba</option>
                        <option value="2">Villa María</option>
                        <option value="3">Villa Allende</option>
                    </select>
                        <label for="floatingSelect">Ciudad <span class="text-danger"> *</span></label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Referencia</label>
                    </div>
                </div>
                <div class="row center col-md-4">
                    <img *ngIf="opcionCiudad == '' || opcionCiudad == 1" src="../../../assets/img/cba2.jpg" class="img-fluid animated fadeIn" alt="..." (click)="simularDireccion()">
                    <img *ngIf="opcionCiudad == '2'" src="../../../assets/img/vm.jpg" class="img-fluid animated fadeIn" alt="..." (click)="simularDireccion()">
                    <img *ngIf="opcionCiudad == '3'" src="../../../assets/img/va.jpg" class="img-fluid animated fadeIn" alt="..." (click)="simularDireccion()">


                </div>
            </div>

        </fieldset>

        <fieldset class="form-group container ">
            <legend>Dirección de destino</legend>
            <div class="row">
                <div class="form-floating col-md-6">
                    <input type="text" class="form-control" required id="floatingInput" pattern="[a-zA-Z0-9áéíóú. ]*" minlength="4" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : direccionEnt.invalid && direccionEnt.touched}" ngModel name="direccionEnt" #direccionEnt="ngModel">
                    <div id="validationServer03Feedback" class="invalid-feedback">
                        Revise la dirección de destino.
                    </div>
                    <label for="floatingInput">Dirección<span class="text-danger"> *</span></label>
                </div>
                <div class="form-floating col-md-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Leave a comment here">
                    <label for="floatingInput">Torre</label>
                </div>
                <div class="form-floating col-md-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Leave a comment here">
                    <label for="floatingInput">Piso</label>
                </div>
                <div class="form-floating col-md-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Leave a comment here">
                    <label for="floatingInput">Dpto</label>
                </div>
                <div class="form-floating col-md-12 ">
                    <select class="form-select" id="floatingSelect" required aria-label="Floating label select example">
                        <option value="1">Córdoba</option>
                        <option value="2">Villa María</option>
                        <option value="3">Villa Allende</option>
                    </select>
                    <label for="floatingSelect">Ciudad<span class="text-danger"> *</span></label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Referencia</label>
                </div>
            </div>

        </fieldset>

        <fieldset class="form-group container ">
            <legend>Datos de Pago</legend>
            <div class="row center animated fadeInDown " *ngIf="direccionCom.valid && direccionEnt.valid && direccionEnt.touched">

                <div class="form-floating col-md-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Leave a comment here" name="totalPago" [ngModel]="montoAPagar" disabled #totalPago="ngModel">
                    <label for="floatingInput">Total a pagar:</label>
                </div>
                <div class="form-floating col-md-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Leave a comment here" name="tipoDeEnvio" [ngModel]="tipoEnvio" disabled #tipoDeEnvio="ngModel">
                    <label for="floatingInput">Tipo de envio:</label>
                </div>
                <div class="col-md-2">
                    <button id="btnEnvio" (click)="calcularEnvio()">Calcular envio</button>
                </div>
            </div>
            <div class="row justify-content">
                <label for="" style="font-size:large;">Métodos de pago<span class="text-danger"> *</span></label>
                <div class="col-md-6">
                    <div class="row center">
                        <div class="form-check form-check-inline center">
                            <input class="form-check-input" required type="radio" name="inlineRadioOptions" id="radio1" value="option1" (click)="cambiarEstadoR1()">
                            <label class="form-check-label" for="inlineRadio1">Pago en efectivo</label>
                        </div>
                    </div>
                    <div class="row center animated fadeInDown" *ngIf="radioMarcado1">
                        <div class="form-floating col-md-10 ">
                            <input type="text" required class="form-control" id="floatingInput" pattern="[0-9 ]*" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : pagoEfectivo.invalid && pagoEfectivo.touched}" ngModel name="pagoEfectivo" #pagoEfectivo="ngModel">
                            <div id="validationServer03Feedback" class="invalid-feedback">
                                Revise el monto.
                            </div>
                            <label for="floatingInput">Monto con el que paga</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row center">
                        <div class="form-check form-check-inline center">
                            <input class="form-check-input" required type="radio" name="inlineRadioOptions" id="radio2" value="option2" (click)="cambiarEstadoR2()">
                            <label class="form-check-label" for="inlineRadio2">Pago con tarjeta VISA</label>
                        </div>
                    </div>
                    <div class="row animated fadeInDown" *ngIf="radioMarcado2">
                        <div class="row center">
                            <div class="form-floating col-md-10">
                                <input type="text" class="form-control" required id="floatingInput" pattern="[0-9 ]*" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : numTarjeta.invalid && numTarjeta.touched}" ngModel name="numTarjeta" #numTarjeta="ngModel">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Revise el número de la tarjeta.
                                </div>
                                <label for="floatingInput">Número tarjeta</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="form-floating col-md-10">
                                <input type="text" class="form-control" required id="floatingInput" pattern="[a-zA-Z ]*" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : titTarjeta.invalid && titTarjeta.touched}" ngModel name="titTarjeta" #titTarjeta="ngModel">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Revise el nombre del titular.
                                </div>
                                <label for="floatingInput">Titular</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="form-floating col-md-5">
                                <input type="text" class="form-control" required id="floatingInput" maxlength="7" pattern="\d{1,2}\/\d{4}" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : vencTarjeta.invalid && vencTarjeta.touched}" ngModel name="vencTarjeta" #vencTarjeta="ngModel">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Revise la fecha de vencimiento.
                                </div>
                                <label for="floatingInput">Vence</label>
                            </div>
                            <div class="form-floating col-md-5">
                                <input type="text" class="form-control" required maxlength="3" minlength="3" id="floatingInput" pattern="[0-9 ]*" placeholder="Leave a comment here" [ngClass]="{'is-invalid' : cvcTarjeta.invalid && cvcTarjeta.touched}" ngModel name="cvcTarjeta" #cvcTarjeta="ngModel">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Revise el código de seguridad.
                                </div>
                                <label for="floatingInput">CVC</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row center">
            <div class="col-md-4">
                <button type="submit">Hacer Pedido</button>
            </div>
        </div>
    </form>
</div>